<a href="https://colab.research.google.com/github/GuevarraHans/CPE019/blob/main/Guevarra_Quiz4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME: HANS ANGELO C. GUEVARRA <br>
COURSE AND SECTION: CPE 019 - CPE32S3 <br>
QUIZ 4.1 <br>
DATE: 2-28-24

**SET B**

Write a program to select the 'attempts' and 'qualify' columns from the following DataFrame.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [20]:
# Import libraries
# Enter the given program in "Set B"
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']

In [ ]:
# Select 'attempts' columns from the DataFrame

In [ ]:
# Select 'qualify' columns from the DataFrame